.react-easy-button {
    padding: 0.5rem;
    border-radius: 4px;
    border-width: 1px;
}

.react-easy-button--primary {
    background-color: rgb(21, 21, 107);
    color: white;
}

.react-easy-button--secondary {
    background-color: white;
    border-color: black;
    color: black;
}

.react-easy-button--text {
    background-color: white;
    color: black;
    border: none;
}

.react-easy-button--small {
    font-size: 0.9rem;
}

.react-easy-button--medium {
    font-size: 1.2rem;
}

.react-easy-button--large {
    font-size: 1.5rem;
}


.react-easy-button:disabled {
    background-color: lightgray;
    color: rgb(82, 74, 74);
}